<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
</head>
<body>
<h1>All Students</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.id}"></span></td>
        <td><span th:text="${student.firstName}"></span></td>
        <td><span th:text="${student.lastName}"></span></td>
        <td><span th:text="${student.age}"></span></td>
    </tr>
</table>
<p><a th:href="@{/new-student}">Create a new student.</a></p>
</div>
</body>
</html>