<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
<p>Sorry, an error has occurred! <a th:href="@{/home}">Go to homepage</a></p>
</body>
</html>