<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
<p><a th:href="@{/new-student}">Create a new student!</a></p>
<p><a th:href="@{/all-students}">See all registered students.</a></p>
</body>
</html>