<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Create a New Student</title>
</head>
<body>
<h1>Create a New Student</h1>
<form method="post" th:object="${student}">
    <p>First name:</p>
    <p>
        <input type="text"
               th:name="firstName"
               th:value="${student.firstName}">
        <span class="validationError"
              th:if="${#fields.hasErrors()}"
              th:errors="${student.firstName}"></span>
    </p>

    <p>Last name:</p>
    <p>
        <input type="text" th:name="lastName" th:value="*{lastName}">
        <span class="validationError"
              th:if="${#fields.hasErrors()}"
              th:errors="*{lastName}"></span>
    </p>

    <p>Age:</p>
    <p>
        <input type="number" th:name="age" th:value="*{age}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors()}"
              th:errors="${student.age}"></span>
    </p>

    <p>
        <input type="submit" value="Create">
    </p>

</form>
</body>
</html>