<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Save Student</title>
</head>
<body>
<h1>Confirm Save Student</h1>
<p>Are you sure you want to save this student?</p>
<form method="post" th:object="${student}">
    <p>First name: <span th:text="*{firstName}"></span></p>
    <p>Last name: <span th:text="*{lastName}"></span></p>
    <p>Age: <span th:text="*{age}"></span></p>
    <input type="submit" value="Save">
</form>
<p><a th:href="@{/new-student}">Cancel</a></p>
</body>
</html>