<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Saved</title>
</head>
<body>
<h1>Student Saved!</h1>
<p>You have just saved a new student!</p>
<p>First name: <span th:text="${student.firstName}"></span></p>
<p>Last name: <span th:text="${student.lastName}"></span></p>
<p>Age: <span th:text="${student.age}"></span></p>
<p><a th:href="@{/new-student}">Create a new student.</a></p>
<p><a th:href="@{/all-students}">See all registered students.</a></p>
</body>
</html>